body{
    font-family: 'Karla', sans-serif!important;

    // HEADER

    header{
        padding: 2rem 0;
        .container{
            display: flex;
            justify-content: space-between;
            .header_left_content{
                display: flex;
                align-items: center;
                img{
                    width: 100px;
                }

                h1{
                    font-weight: 200;
                    margin-left: 20px;
                }
            }

            .header_right_content{
                display: flex;
                justify-content: center;
                align-items: center;
                ul{
                    display: flex;
                    align-items: center;

                    a{
                        margin: 0 1rem;
                        li{
                            list-style-type: none;
                            img{
                                width: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    main{
        form{
            display: flex;

            .form-input{

                label{
                    margin-right: 20px;
                }

                input{
                    padding-left: 10px;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.12);
                }
            }

            .form-filters{
                border: none;
                margin: 0 2rem;
                select{
                    padding: 4px 20px;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.12);
                }
            }

            #inputSearch{
                padding: 0 20px;
                background-color: white;
                outline: none;
                border: none;
                border-radius: 10px;
                box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.12);
            }

        }

        #next_content{
            padding: 3rem 0;
            display: flex;
            justify-content: center;

            button{
                padding: 3px 20px;
                background-color: white;
                outline: none;
                border: none;
                border-radius: 10px;
                box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.12); 
            }
        }

        #results_container_test{
            
        }
    }
}

